@page
@model HelpDesk.Pages.SupportRequest.CreateModel
@{

}

@Html.Properties(@Model?.Data)

<h3>@Model.Result</h3>

<h3>Create Task</h3>
<div class="d-flex align-items-center justify-content-center">

    <form class="form-group col-sm-6" method="post">

		<div class="form-group m-2">
			<label for="Data.Name">Name</label>
			<input type="text" class="form-control"
				   name="Data.Name" id="Data.Name"
				   placeholder="Name" value=@Model?.Data?.Name>
			<span asp-validation-for="Data.Name" class="text-danger"></span>
		</div>

		<div class="form-group m-2">
			<label for="Data.Description">Description</label>
			<textarea class="form-control" rows="3" name="Data.Description" id="Data.Description"
					  placeholder="Description" value=@Model?.Data?.Description></textarea>
			<span asp-validation-for="Data.Description" class="text-danger"></span>
		</div>

		<div class="form-group m-2">
			<div class="col-sm-offset-2 col-sm-10 pt-2">
				<button type="submit" class="btn btn-outline-dark">Save</button>
			</div>
		</div>

    </form>


</div>