@page
@model HelpDesk.Pages.SupportRequest.ShowCreatedByMeModel
@{
}
<h3>@User.ClaimName()</h3>
<h3>@User.ClaimNameIdentifier()</h3>
<br />
<br />

@foreach (var item in @Model.Result)
{
    @Html.Properties(item)
}